.bacmain {
  /*background-image: url('../images/scale_1200.png'); если добавим рисунок изначальным то можно оставить, если нет удалим*/
  background-size: cover;
  background-position: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: 0 auto;
}

#login_btn {
  transition: background-color 0.3s ease;
}

#login_btn:hover {
  background-color: #28a745;
}