* {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

.navbar-brand {
  font-size: 1.75rem;
}

.promotions-img {
  width: 100%;
}


.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.foodmart-logo {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 202, 17);
}

.navbar {
  background-color: rgb(187, 255, 187);
}

main {
  min-height: 100vh; 
}

footer {
  background-color: rgb(187, 255, 187);
}

@media (max-width: 991px) {
  /* Скрыть текст на кнопках при уменьшении экрана */
  .btn .button-text {
    display: none;
  }
}

@media (min-width: 992px) {
  /* Показать текст на кнопках для больших экранов */
  .btn .button-text {
    display: inline;
  }
}

@media (max-width: 827px) {
  /* Версия для маленьких экранов */
  #show-on-small {
    display: flex !important; /* Показать версию для маленьких экранов */
  }
  #show-on-small-2 {
    display: flex !important; /* Показать версию для маленьких экранов */
  }
  #show-on-large {
    display: none !important; /* Скрыть элементы для больших экранов */
  }
  #search-input{
    max-width: 140px;
  }
}

@media (min-width: 828px) {
  /* Версия для больших экранов */
  #show-on-large {
    display: flex !important; /* Показать элементы для больших экранов */
  }
  #show-on-small {
    display: none !important; /* Скрыть элементы для маленьких экранов */
  }
  #show-on-small-2 {
    display: none !important; /* Скрыть элементы для маленьких экранов */
  }
  .btn-success{
    white-space: nowrap;
  }
}

@media (max-width:991px) {
  .dropdown-cart {
    width: 200px;
    right: -30px;
    transform: translateX(-17%);
  }
}